* {
    overflow: auto;
}

html, body, #outer {
    height: 99%;
    width: 99%;
}

#browserHeader {
    width: 99%;
}

#browserContentArea, #contentFrame {
    height: 95%;
    width: 99%;
}

#startPage {
    height: 99%;
    width: 99%;
}

#browser {
    height: 0;
}

